@using HealthTracker.Mvc.Entities
@using Microsoft.AspNetCore.Mvc.ModelBinding
@model HealthTracker.Mvc.Models.HomeViewModel

@{
    ViewData["Title"] = "Home";
}

<p class="text-center font-weight-bold">
    <span style="font-size: 1.2rem">
        Summary
    </span>
    <br />
    <small class="text-muted">
        <em>
            Personal summary page
        </em>
    </small>
</p>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.EditorFor(m => m.Filters)
    <hr/>

    @if (Model.HasWeightMeasurements)
    {
        <div class="container-fluid">
            <p class="text-center font-weight-bold">
                <span style="font-size: 1.2rem">
                    Rolling Average Weight
                </span>
            </p>
            @await Html.PartialAsync("_WeightList", Model.WeightMeasurements)
        </div>
        <br/>
    }

    @if (Model.HasExerciseSummaries)
    {
        <div class="container-fluid">
            <p class="text-center font-weight-bold">
                <span style="font-size: 1.2rem">
                    Exercise
                </span>
            </p>
            @await Html.PartialAsync("_ExerciseSummaryList", Model.ExerciseSummaries)
        </div>
        <br/>
    }

    @if (Model.HasTotalAlcoholConsumption)
    {
        <div class="container-fluid">
            <p class="text-center font-weight-bold">
                <span style="font-size: 1.2rem">
                    Rolling Total Alcohol Consumption
                </span>
            </p>
            @await Html.PartialAsync("_BeverageConsumptionSummaryList", Model.TotalAlcoholConsumption)
        </div>
        <br/>
    }

    @if (Model.HasHydratingBeverageConsumption)
    {
        <div class="container-fluid">
            <p class="text-center font-weight-bold">
                <span style="font-size: 1.2rem">
                    Daily Total Hydrating Beverage Consumption
                </span>
            </p>
            @await Html.PartialAsync("_BeverageConsumptionList", Model.HydratingBeverageConsumption)
        </div>
        <br/>
    }

    @if (Model.HasPersonMedications)
    {
        <div class="container-fluid">
            <p class="text-center font-weight-bold">
                <span style="font-size: 1.2rem">
                    Medications
                </span>
            </p>
            @await Html.PartialAsync("_PersonMedicationList", Model.PersonMedications)
        </div>
        <br/>
    }
}