@using HealthTracker.Mvc.Entities
@model HealthTracker.Mvc.Models.AddWeightViewModel

@{
    ViewData["Title"] = "Add Weight Measurement";
}

<div class="container-fluid">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md">
                <span style="font-size: 1.2rem"><strong>Add Weight Measurement</strong></span>
            </div>
        </div>
        <hr />

        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <div class="row">
                <div class="col-md-12 message">
                    <span>@Html.Raw(Model.Message)</span>
                </div>
            </div>
            <hr />
        }

        @await Html.PartialAsync("Weight", Model)

        <br />

        <div class="row">
            <div class="col-md">
                <div class="input-group">
                    <button type="submit" name="Action" value="@ControllerActions.ActionCancel" class="btn btn-secondary" style="margin-right:10px">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    }
</div>
