@model HealthTracker.Mvc.Models.MedicationViewModel

@Html.HiddenFor(m => m.Medication.Id)

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <strong>@Html.LabelFor(m => m.Medication.Name)</strong>
        </div>
        <div class="col">
            <div class="input-group">
                @Html.TextBoxFor(m => m.Medication.Name, new { @class = "form-control" })
            </div>
            <span>@Html.ValidationMessageFor(m => m.Medication.Name, "", new { @class = "text-danger" })</span>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $(document).on("keydown", function (e) {
            if (e.key === "Enter") {
                e.preventDefault();
                $('#Save').click();
            }
        });
    });
</script>
