@model HealthTracker.Mvc.Models.MealsDropDownViewModel

<div class="row">
    <div class="col">
        <strong>Meal</strong>
    </div>
    <div class="col">
        <div class="input-group">
            @Html.DropDownList("MealsListId", Model.Meals, new { @class = "form-control" })
        </div>
    </div>
</div>
<br/>

<script type="text/javascript">
    $(document).ready(function () {
        // The target field to write the selected meal ID back to is dependent on the context in which
        // this view's been rendered and is passed in as part of the model
        var targetField = "#@Model.TargetField";

        // The page may be loaded with a default meal selected so make sure it's copied to the field
        // that's used when the form is POSTed
        var mealId = $("#MealsListId").val();
        $(targetField).val(mealId);

        // When the selection on the meals list changes, copy it to the meal ID that's used when the
        // form is POSTed back
        $("#MealsListId").change(function() {
            var mealId = $("#MealsListId").val();
            $(targetField).val(mealId);
        });
    });
</script>